# the Carto-Lab Docker version tag to use
# e.g. TAG=v0.12.3; defaults to:
# TAG=latest

# CONTAINER_NAME=lbsn-jupyterlab
# NETWORK_NAME=lbsn-network

# to access lbsn postgres db,
# provide a password, which
# will be available inside the container
# POSTGRES_PASSWORD=eX4mP13p455w0Rd

# optionally provide a static password
# to access jupyter lab
# JUPYTER_PASSWORD=eX4mP13p455w0Rd

# adjust the startup folder in jupyter lab
# this folder will be available through a bind-mount
# JUPYTER_NOTEBOOKS=${HOME}/notebooks
# JUPYTER_WEBPORT=8888

# adjust the web url
# e.g.: https://jupyterlab.example.org
# JUPYTER_WEBURL=http://localhost/

# optionally adjust path to 
# environment.yml, e.g. to create
# a custom env with other packages
# e.g.
# ENVIRONMENT_FILE=envs/environment_custom.yml
# ENVIRONMENT_FILE=environment_default.yml
# WORKER_ENV_NAME=worker_env

# adjust the folder to link persistent conda environments
# this folder will be available through a bind-mount
# CONDA_ENVS=${HOME}/envs

# if using the Mapnik-Docker tag
# add a folder to link external fonts
# for mapnik
# MAPNIK_FONTS=/usr/share/fonts

# define the compose file to use
# default is docker-compose.yml
# e.g. to start the Mapnik version by default:
# COMPOSE_FILE=docker-compose.mapnik.yml


# Enable collaboration support, default: false;
# will also automatically disable jupytext extension
# COLLABORATIVE=true

# Disable jupytext extension
# DISABLE_JUPYTEXT=true

# Disable jupyterlab-git extension
# DISABLE_JUPYTERLAB-GIT=true

# generate random token on startup,
# in addition to the user password;
# the token is also exported as TOKEN variable
# in the server (echo $TOKEN)
# GENERATE_TOKEN=true

# extra command-line arguments passed to `jupyter lab` on startup;
# useful for enabling options like debug logging;
# for example: JUPYTER_EXTRA_ARGS=--debug
# leave empty or unset to run with default options
# JUPYTER_EXTRA_ARGS=
