# CONTAINER_NAME=lbsn-jupyterlab
# NETWORK_NAME=lbsn-network

# to access lbsn postgres db,
# provide a password, which
# will be available inside the container
# POSTGRES_PASSWORD=eX4mP13p455w0Rd

# optionally provide a static password
# to access jupyter lab
# JUPYTER_PASSWORD=DgSTB9plkwPvtd3OEzgI

# adjust the startup folder in jupyter lab
# this folder will be available through a bind-mount
# JUPYTER_NOTEBOOKS=${HOME}/notebooks
# JUPYTER_WEBPORT=8888

# adjust the web url
# e.g.: https://jupyterlab.example.org
# JUPYTER_WEBURL=http://localhost/

# optionally adjust path to 
# environment.yml, e.g. to create
# a custom env with other packages
# e.g.
# ENVIRONMENT_FILE=envs/environment_custom.yml
# ENVIRONMENT_FILE=environment_default.yml
# WORKER_ENV_NAME=worker_env