.wy-side-nav-search {
    background: #0970B9;
}

.caption-text {
    color: #03A6F0;
}

.admonition.note .admonition-title {
    background: #0970B9
}

.wy-side-nav-search img.logo {
    height: 100%;
    width: 100%;
    min-height: 6.4rem;
    min-width: 2.4rem;
    display: block;
    margin: 0 auto;
}